#main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#conculator {
    width: 250px;
    height: 370px;
    background-color: black;
    padding: 10px;
    color: white;
    min-height: 100px;
}

#screen-show {
    background-color: #ccc;
    min-height: 50px;
    font-size: 5rem;
}

.screen-show__number {
    text-decoration: none;
    line-height: 50px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: right;
    padding-right: 5px;
}

.row-button-list {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    margin-top: 10px;
}

.row-button-list__item:last-child {
    background-color: #fea00c;
}

.row-button-list__item {
    width: 25%;
    height: 50px;
    border-radius: 50px;
    background-color: #ccc;
    text-align: center;
    line-height: 50px;
    margin: 0 3px;
}

.row-button-list__item:hover {
    cursor: pointer;
}

.row-button-list__item-big {
    width: 50%;
    height: 50px;
    border-radius: 50px;
}

.btn--opacity {
    opacity: 0.5;
}